// COLORS
$color-primary: #eaa121;
$color-primary-light: #f0a41f;
$color-secondary-dark: #183867;

$color-secondary: #7c8db0;
$color-secondary-1: #6e7491;
$color-secondary-light: #c2cfe0;
$color-secondary-light-2: #dbecfd;
$color-background: #f3f7fc;

$color-white: #fff;
$color-grey-1: #f0f0f0;
$color-grey-11: #f0f0f073;
$color-grey-12: #a1a1a1;
$color-grey-2: #8f8f8f;
$color-grey-3: #636363;

$color-grey-4: #333;
$color-grey-5: #06162d40;

$color-black: #000;

$color-shadow: #88909917;
