.input {
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__label-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  &__label {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.95rem;
  }

  &__element[type="text"],
  &__element[type="date"] {
    border: none;
    height: 3rem;
    outline: none;

    &:focus {
      border-bottom: 2px solid $color-primary;
    }
    &::placeholder {
      color: $color-secondary;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.829rem;
    }
  }
}
