.button {
  & {
    border: none;
    cursor: pointer;
    color: $color-white;
    background-color: $color-primary;
    font-family: "Montserrat", serif;
    font-weight: 600;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 4.8rem;

  &__text-mobile {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    background-color: $color-secondary-dark;
    display: flex;
    width: 100%;
    flex: 1;

    gap: 16px;

    &__text-mobile {
      display: inline-block;
    }
  }
}

.button-apple,
.button-google {
  border: none;
  cursor: pointer;
}
