.booking {
  position: relative;
  border: 1px solid $color-grey-5;
  border-radius: 1.6rem 0;
  border: 1px 0 0 0;
  padding: 2.8rem 0.8rem 2.4rem 0.8rem;
  margin: 0 4rem;
  background-color: $color-white;
  margin-bottom: 7.3rem;

  .trip-radio {
    justify-content: center;
    display: flex;
    gap: 5.6rem;
    margin-bottom: 2.4rem;
  }

  .line {
    // position: absolute;
    border: 1px solid #eaa121;
    opacity: 0.2;
    width: 92%;
    left: 50%;
    text-align: center;
    margin: 0 auto;
    // transform: translateX(-50%);
    opacity: 0.2px;
    margin-bottom: 3rem;
  }
  .trip-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem;
    gap: 6.4rem;
  }
}
