.footer {
  font-family: "Nunito Sans", serif;
  background-color: $color-white;
  padding: 6rem 3.6rem 2.4rem 12rem;
  display: flex;
  justify-content: space-between;
  gap: 16rem;

  width: 100%;

  @media only screen and (max-width: 1400px) {
    padding: 4rem 2.6rem 2.4rem 8rem;
    gap: 8rem;
  }
  @media only screen and (max-width: 1200px) {
    gap: 4rem;
  }
  @media only screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 800px) {
    flex-direction: column;

    align-items: center;
  }
}

.footer-links {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 16rem;

    @media only screen and (max-width: 1400px) {
      gap: 8rem;
    }
    @media only screen and (max-width: 1200px) {
      gap: 4rem;
    }

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__title {
    padding: 0.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.455rem;
    color: $color-secondary-1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    min-width: 20rem;

    .stores-btns {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 1.2rem;
    }

    &--ar {
      text-align: left;
      align-items: end;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      padding: 0.4rem;
      text-transform: capitalize;
      text-decoration: none;
      font-family: "Nunito Sans", serif;
      text-align: left;
      line-height: 2.182rem;
      color: $color-secondary;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-secondary-dark;
    }
  }
}
