.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 9.2rem;
  background-color: $color-background;
  padding: 4rem;
  padding-bottom: 1.8rem;

  .nav {
    display: flex;
    gap: 4.8rem;
    margin-bottom: 1rem;
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  @media only screen and (max-width: 800px) {
    justify-content: center;
    align-items: center;

    &__actions,
    .nav {
      display: none;
    }
    padding: 2rem;
  }
}
